name: Proxy Auto Update

on:
  schedule:
    - cron: '*/5 * * * *'
  workflow_dispatch:

jobs:
  update:
    runs-on: ubuntu-latest
    permissions: # এটি নিশ্চিত করে যে কোড লেখার অনুমতি আছে
      contents: write
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: Install Dependencies
        run: pip install requests

      - name: Run Script
        run: python proxy_bot.py

      - name: Commit and Push
        run: |
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Action"
          git add live_proxies.txt
          git commit -m "Updated Live Proxies" || exit 0
          git push
